# Credit Risk Resampling Techniques

In [67]:
import warnings
warnings.filterwarnings('ignore')

In [68]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
from sklearn.preprocessing import LabelEncoder

# Read the CSV into DataFrame

In [69]:
# Load the data
file_path = Path('Resources/lending_data.csv')
df = pd.read_csv(file_path)
df.head()

,loan_size,interest_rate,homeowner,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,own,52800,0.431818,5,1,22800,low_risk
1,8400.0,6.692,own,43600,0.311927,3,0,13600,low_risk
2,9000.0,6.963,rent,46100,0.349241,3,0,16100,low_risk
3,10700.0,7.664,own,52700,0.430740,5,1,22700,low_risk
4,10800.0,7.698,mortgage,53000,0.433962,5,1,23000,low_risk

In [70]:
categorical_df = df[df.columns[df.dtypes == "object"]]
categorical_df["homeowner"] = categorical_df["homeowner"].astype("category").cat.codes
categorical_df["loan_status"] = categorical_df["loan_status"].astype("category").cat.codes

In [71]:
df.drop(list(df.columns[df.dtypes == "object"].values), axis = 1, inplace = True)
df = pd.concat([df, categorical_df], axis = 1)
df

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,homeowner,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,1,1
1,8400.0,6.692,43600,0.311927,3,0,13600,1,1
2,9000.0,6.963,46100,0.349241,3,0,16100,2,1
3,10700.0,7.664,52700,0.430740,5,1,22700,1,1
4,10800.0,7.698,53000,0.433962,5,1,23000,0,1
...,...,...,...,...,...,...,...,...,...
77531,19100.0,11.261,86600,0.653580,12,2,56600,1,0
77532,17700.0,10.662,80900,0.629172,11,2,50900,0,0
77533,17600.0,10.595,80300,0.626401,11,2,50300,2,0
77534,16300.0,10.068,75300,0.601594,10,2,45300,0,0
77535,15600.0,9.742,72300,0.585062,9,2,42300,0,0

In [72]:
df.dtypes

loan_size           float64
interest_rate       float64
borrower_income       int64
debt_to_income      float64
num_of_accounts       int64
derogatory_marks      int64
total_debt            int64
homeowner              int8
loan_status            int8
dtype: object

In [73]:
categorical_df.loan_status.value_counts()

1    75036
0     2500
Name: loan_status, dtype: int64

# Split the Data into Training and Testing

In [74]:
# Create our features
X = df.drop(columns="loan_status")

# Create our target
y = df["loan_status"]

In [75]:
X.describe()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,homeowner
count,77536.000000,77536.000000,77536.000000,77536.000000,77536.000000,77536.000000,77536.000000,77536.000000
mean,9805.562577,7.292333,49221.949804,0.377318,3.826610,0.392308,19221.949804,0.606144
std,2093.223153,0.889495,8371.635077,0.081519,1.904426,0.582086,8371.635077,0.667811
min,5000.000000,5.250000,30000.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,8700.000000,6.825000,44800.000000,0.330357,3.000000,0.000000,14800.000000,0.000000
50%,9500.000000,7.172000,48100.000000,0.376299,4.000000,0.000000,18100.000000,1.000000
75%,10400.000000,7.528000,51400.000000,0.416342,4.000000,1.000000,21400.000000,1.000000
max,23800.000000,13.235000,105200.000000,0.714829,16.000000,3.000000,75200.000000,2.000000

In [76]:
# Check the balance of our target values
y.value_counts()

1    75036
0     2500
Name: loan_status, dtype: int64

In [77]:
# Create X_train, X_test, y_train, y_test
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test= train_test_split(X, 
                                                   y, 
                                                   random_state=1, 
                                                   stratify=y)
X_train.shape

(58152, 8)

## Data Pre-Processing

Scale the training and testing data using the `StandardScaler` from `sklearn`. Remember that when scaling the data, you only scale the features data (`X_train` and `X_testing`).

In [78]:
# Create the StandardScaler instance
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [79]:
# Fit the Standard Scaler with the training data
# When fitting scaling functions, only train on the training dataset
X_scaler = scaler.fit(X_train)

In [80]:
# Scale the training and testing data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Simple Logistic Regression

In [81]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver='sag', random_state=1)
model.fit(X_train_scaled, y_train)

LogisticRegression(random_state=1, solver='sag')

In [82]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
y_pred = model.predict(X_test_scaled)
balanced_accuracy_score(y_test, y_pred)

0.9892813049736127

In [84]:
# Rounded 
balanced_accuracy_score(y_test, y_pred).round(4)

0.9893

In [85]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[  615,    10],
       [  102, 18657]], dtype=int64)

In [86]:
# Print the imbalanced classification report 
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.86      0.98      0.99      0.92      0.99      0.98       625
          1       1.00      0.99      0.98      1.00      0.99      0.98     18759

avg / total       0.99      0.99      0.98      0.99      0.99      0.98     19384

# Oversampling

In this section, you will compare two oversampling algorithms to determine which algorithm results in the best performance. You will oversample the data using the naive random oversampling algorithm and the SMOTE algorithm. For each algorithm, be sure to complete the folliowing steps:

1. View the count of the target classes using `Counter` from the collections library. 
3. Use the resampled data to train a logistic regression model.
3. Calculate the balanced accuracy score from sklearn.metrics.
4. Print the confusion matrix from sklearn.metrics.
5. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.

Note: Use a random state of 1 for each sampling algorithm to ensure consistency between tests

### Naive Random Oversampling

In [87]:
# Resample the training data with the RandomOversampler
from imblearn.over_sampling import RandomOverSampler

ros = RandomOverSampler(random_state=1)
X_res1, y_res1 = ros.fit_resample(X_train, y_train)

# View the count of target classes with Counter
Counter(y_res1)

Counter({1: 56277, 0: 56277})

In [88]:
# Create the StandardScaler instance
from sklearn.preprocessing import StandardScaler
scaler1 = StandardScaler()

In [89]:
# Fit the Standard Scaler with the training data
# When fitting scaling functions, only train on the training dataset
scaler1.fit(X_res1)

StandardScaler()

In [90]:
# Scale the training and testing data
X_res1 = scaler1.transform(X_res1)
X_test_scaled = scaler1.transform(X_test)

In [91]:
# Train the Logistic Regression model using the resampled data
model = LogisticRegression(solver='sag', random_state=1)
model.fit(X_res1, y_res1)

LogisticRegression(random_state=1, solver='sag')

In [92]:
# Calculated the balanced accuracy score
y_pred = model.predict(X_test_scaled)
balanced_accuracy_score(y_test, y_pred)

0.9946414201183431

In [93]:
# Rounded 
balanced_accuracy_score(y_test, y_pred).round(4)

0.9946

In [94]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred)

array([[  622,     3],
       [  111, 18648]], dtype=int64)

In [95]:
# Print the imbalanced classification report 
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.85      1.00      0.99      0.92      0.99      0.99       625
          1       1.00      0.99      1.00      1.00      0.99      0.99     18759

avg / total       0.99      0.99      1.00      0.99      0.99      0.99     19384

### SMOTE Oversampling

In [96]:
# Resample the training data with SMOTE
from imblearn.over_sampling import SMOTE

X_resampled, y_resampled = SMOTE(random_state=1, sampling_strategy=1.0).fit_resample(
    X_train, y_train
)

# View the count of target classes with Counter
Counter(y_resampled)

Counter({1: 56277, 0: 56277})

In [97]:
# Create the StandardScaler instance
from sklearn.preprocessing import StandardScaler
scaler2 = StandardScaler()

In [98]:
# Fit the Standard Scaler with the training data
# When fitting scaling functions, only train on the training dataset
scaler2.fit(X_resampled)

StandardScaler()

In [99]:
# Scale the training and testing data
X_resampled = scaler2.transform(X_resampled)
X_test_scaled = scaler2.transform(X_test)

In [100]:
# Train the Logistic Regression model using the resampled data
model = LogisticRegression(solver='sag', random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1, solver='sag')

In [101]:
# Calculated the balanced accuracy score
y_pred = model.predict(X_test_scaled)
balanced_accuracy_score(y_test, y_pred)

0.9946947278639586

In [102]:
# Rounded 
balanced_accuracy_score(y_test, y_pred).round(4)

0.9947

In [103]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred)

array([[  622,     3],
       [  109, 18650]], dtype=int64)

In [104]:
# Print the imbalanced classification report 
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.85      1.00      0.99      0.92      0.99      0.99       625
          1       1.00      0.99      1.00      1.00      0.99      0.99     18759

avg / total       1.00      0.99      1.00      0.99      0.99      0.99     19384

# Undersampling

In this section, you will test an undersampling algorithm to determine which algorithm results in the best performance compared to the oversampling algorithms above. You will undersample the data using the Cluster Centroids algorithm and complete the folliowing steps:

1. View the count of the target classes using `Counter` from the collections library. 
3. Use the resampled data to train a logistic regression model.
3. Calculate the balanced accuracy score from sklearn.metrics.
4. Display the confusion matrix from sklearn.metrics.
5. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.

Note: Use a random state of 1 for each sampling algorithm to ensure consistency between tests

In [105]:
# Resample the data using the ClusterCentroids resampler
from imblearn.under_sampling import RandomUnderSampler
ros = RandomUnderSampler(random_state=1)
X_resampled, y_resampled = ros.fit_resample(X_train, y_train)


# View the count of target classes with Counter
Counter(y_resampled)

Counter({0: 1875, 1: 1875})

In [106]:
# Create the StandardScaler instance
from sklearn.preprocessing import StandardScaler
scaler3 = StandardScaler()

In [107]:
# Fit the Standard Scaler with the training data
# When fitting scaling functions, only train on the training dataset
scaler3.fit(X_resampled)

StandardScaler()

In [108]:
# Scale the training and testing data
X_resampled = scaler3.transform(X_resampled)
X_test_scaled = scaler3.transform(X_test)

In [109]:
# Train the Logistic Regression model using the resampled data
model = LogisticRegression(solver='sag', random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1, solver='sag')

In [110]:
# Calculate the balanced accuracy score
y_pred = model.predict(X_test_scaled)
balanced_accuracy_score(y_test, y_pred)

0.9947746894823818

In [111]:
# Rounded 
balanced_accuracy_score(y_test, y_pred).round(4)

0.9948

In [112]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred)

array([[  622,     3],
       [  106, 18653]], dtype=int64)

In [113]:
# Print the imbalanced classification report 
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.85      1.00      0.99      0.92      0.99      0.99       625
          1       1.00      0.99      1.00      1.00      0.99      0.99     18759

avg / total       1.00      0.99      1.00      0.99      0.99      0.99     19384

# Combination (Over and Under) Sampling

In this section, you will test a combination over- and under-sampling algorithm to determine if the algorithm results in the best performance compared to the other sampling algorithms above. You will resample the data using the SMOTEENN algorithm and complete the folliowing steps:

1. View the count of the target classes using `Counter` from the collections library. 
3. Use the resampled data to train a logistic regression model.
3. Calculate the balanced accuracy score from sklearn.metrics.
4. Display the confusion matrix from sklearn.metrics.
5. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.

Note: Use a random state of 1 for each sampling algorithm to ensure consistency between tests

In [114]:
# Resample the training data with SMOTEENN
from imblearn.combine import SMOTEENN
smote_enn = SMOTEENN(random_state=1)
X_resampled, y_resampled = smote_enn.fit_resample(X_train, y_train)

# View the count of target classes with Counter
Counter(y_resampled)

Counter({0: 55299, 1: 55918})

In [115]:
# Create the StandardScaler instance
from sklearn.preprocessing import StandardScaler
scaler4 = StandardScaler()

In [116]:
# Fit the Standard Scaler with the training data
# When fitting scaling functions, only train on the training dataset
scaler4.fit(X_resampled)

StandardScaler()

In [117]:
# Scale the training and testing data
X_resampled = scaler4.transform(X_resampled)
X_test_scaled = scaler4.transform(X_test)

In [118]:
# Train the Logistic Regression model using the resampled data
model = LogisticRegression(solver='sag', random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1, solver='sag')

In [119]:
# Calculate the balanced accuracy score
balanced_accuracy_score(y_test, y_pred)

0.9947746894823818

In [120]:
# Rounded 
balanced_accuracy_score(y_test, y_pred).round(4)

0.9948

In [121]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred)

array([[  622,     3],
       [  106, 18653]], dtype=int64)

In [122]:
# Print the imbalanced classification report 
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.85      1.00      0.99      0.92      0.99      0.99       625
          1       1.00      0.99      1.00      1.00      0.99      0.99     18759

avg / total       1.00      0.99      1.00      0.99      0.99      0.99     19384

# Final Questions

1. Which model had the best balanced accuracy score?

   Both undersampling and combination SMOTEEN had the best accurcy score of 0.9948.

2. Which model had the best recall score?

    They all have a recal score of 0.99.

3. Which model had the best geometric mean score?

    They all had a geo score of 0.99.